<div class="top-container vertical-stack">
  <h3 mat-dialog-title>{{formType === 'edit' ? 'Edit' : 'New'}} Blog</h3>
  <form [formGroup]="blogForm" (ngSubmit)="submitBlog()">
    <div class="vertical-stack" style="align-items: flex-start">
      <div class="vertical-stack file-input-container">
        <mat-label style="color: rgba(0,0,0,.6)">Image* {{formType === 'edit' ? '(leave empty to keep old image)' : ''}}</mat-label>
        <input class="file-input" type="file" formControlName="image" (change)="updateImage($event)">
      </div>
      <mat-form-field appearance="fill" style="width: 300px">
        <mat-label>Title</mat-label>
        <input matInput type="text"  maxlength="45" required formControlName="title" placeholder="...">
      </mat-form-field>
      <quill-editor [placeholder]="'Insert body here...'" style="height: 300px; width: 100%" formControlName="body">
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
            <button class="ql-underline" [title]="'Underline'"></button>
            <select class="ql-align" [title]="'Aligment'">
              <option selected></option>
              <option value="center"></option>
              <option value="right"></option>
              <option value="justify"></option>
            </select>
            <button type="button" class="ql-header" value="1"></button>
            <button type="button" class="ql-header" value="2"></button>
          </span>
        </div>
      </quill-editor>
    </div>
    <div class="horizontal-stack" style="column-gap: 20px">
        <button class="btn-secondary" mat-dialog-close>cancel</button>
        <button class="btn-default-inverse">{{formType === 'edit' ? 'save' : 'submit'}}</button>
    </div>
  </form>
</div>
