<div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="vertical-stack">
            <mat-form-field class="search-bar" appearance="fill">
                <mat-label>Search</mat-label>
                <input type="text"
                    placeholder="Search for sectors, areas, or climbs"
                    aria-label="Number"
                    matInput
                    formControlName="searchControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"> 
                    <mat-option *ngFor="let d of filteredData | async" [value]="d.value" (click)="setSearchType(d.type)">
                        {{d.value}} <span style="color: #adadad">{{d.type}}</span>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button class="btn-default">search</button>
        </div>
    </form>
    <div class="vertical-stack" style="margin-top: 50px" *ngIf="this.searchResults.length > 0; else appSuggestedAreas">
        <div style="width: 80%;">
            <div class="vertical-stack" style="align-items: flex-start;">
                <div class="breadcrumb" style="margin-left: 10px;" *ngIf="true">
                    <ng-container *ngIf="selectedArea">
                        <span (click)="onBreadcrumbClick('area', selectedArea)">{{selectedArea}}</span>
                        <ng-container *ngIf="selectedSector">
                            >
                            <span *ngIf="selectedSector" (click)="onBreadcrumbClick('sector', selectedSector)">{{selectedSector}}</span>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <table class="md-lg-xl">
                <tr>
                    <th *ngFor="let key of searchResultKeys">{{key}}</th>
                </tr>
                <tr *ngFor="let result of searchResults" (click)="result.country ? getClimbs(result): openLogModal(result)">
                    <td *ngFor="let key of searchResultKeys" class="primary-table-column">
                        {{result[key]}}
                    </td>
                </tr>
            </table>
            <div class="sm">
                <div *ngFor="let result of searchResults" class="sm-result-container" (click)="result.country ? getClimbs(result): openLogModal(result)">
                    <div *ngFor="let key of searchResultKeys">
                        <span>{{key}}:</span> {{result[key]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #appSuggestedAreas>
        <app-suggested-areas [areas]="suggestedAreas" (onAreaClicked)="searchLocations($event)"></app-suggested-areas>
    </ng-template>
</div>