@use '../../../styles'

table
    border-spacing: 10px
    border: 2px solid styles.$tertiary-color
    border-radius: 4px
    width: 100%
    color: styles.$secondary-color
    
th
    text-align: left

td
    border-top: 1px solid styles.$tertiary-color
    border-bottom: 1px solid styles.$tertiary-color
    padding: 3px 6px

tr:hover
    cursor: pointer

.area-loader
    position: absolute
    top: -24px
    right: 248px

.search-bar
    width: 40%
    @media screen and (max-width: styles.$screen-md)
        width: 70%

.primary-table-column  
    white-space: nowrap
