<div class="search-container">
    <form [formGroup]="searchForm">
        <div class="vertical-stack" style="position: relative;">
            <mat-form-field (keydown.enter)="onSearchEnter()"  class="search-bar" appearance="fill">
                <div *ngIf="loading" class="loader-container">
                    <div class="area-loader"></div>
                </div>
                <mat-label>Search</mat-label>
                <input type="text"
                    placeholder="Search for sectors, areas, or climbs"
                    aria-label="Number"
                    matInput
                    formControlName="searchControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"> 
                    <mat-option *ngFor="let result of dropdownResults" [value]="result.name || result" (click)="onDropdownSelect(result)">
                        <ng-container *ngIf="result.name; else climbName">
                            {{result.name}} <span style="color: #adadad">{{result.pathForDisplay}}</span>
                        </ng-container>
                        <ng-template #climbName>{{result}}</ng-template>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </form>
</div>