<div class="home-container">
    <div class="card-container">
        <app-news-card *ngFor="let blog of blogs" [content]="blog"></app-news-card>
    </div>
    <div class="side-nav-container" *ngIf="blogs.length > 0">
        <app-side-nav (onDateSelect)="scrollToBlog($event)" [dates]="dates"></app-side-nav>
    </div>
    <ng-container *ngIf="loggedIn && role === 'ADMIN' && (noBlogs || blogs.length > 0)">
        <button class="float-btn" (click)="openBlogForm()">Create +</button>
    </ng-container>
</div>
